/* Estilo global */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #04b904;
    padding: 1rem;
}

header nav ul {
    list-style: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: rgb(224, 213, 213);
    text-decoration: none;
    font-size: 18px;
}

/* Seção de conteúdo */
section {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
}
footer {
    text-align: center;
    background-color: #04b904;
    color: white;
    padding: 10px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #04b904;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
/* Estilo para a seção de logos no cabeçalho */
.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.logos .logo {
    max-width: 150px;
    margin: 0 20px;
}

.logos img {
    width: 100%;
    height: auto;
}



